@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose { 
  @apply text-base md:text-lg;
}

.prose h2 {
  @apply mt-6 mb-0 text-2xl font-bold text-lime-400;
}
.prose p, .prose ul, .prose ol {
  @apply mb-0;
}
.prose li {
  @apply mb-2;
}

.prose a {
  @apply text-lime-400 hover:underline hover:text-white;
}

@keyframes textReveal {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.text-reveal {
  animation: textReveal 1.5s ease-out forwards;
}