---
const preHeading = "Jose Rivera · UX/UI Portfolio"
const title = "Helping brands look sharp & work smarter online"
const subtitle = "I specialize in UX/UI and front-end design that blends creativity with usability"
---
<section class="relative mx-auto max-w-6xl px-6 pt-24 pb-8 text-white md:pt-28">
  <p class="mb-4 text-sm uppercase tracking-wide text-lime-400">
  {preHeading}
</p>
  <h1 class="text-5xl md:text-7xl font-extrabold leading-tight 
         bg-gradient-to-r from-lime-400 via-emerald-400 to-lime-500 
         bg-clip-text text-transparent">
    {title}
  </h1>
  <p class="mt-8 text-sm text-white/70 md:text-base">{subtitle}</p>
</section>
