---
const title = "Hi my name is Jose."
const subtitle = "See my recent projects here:"
---
<section class="relative mx-auto max-w-6xl px-6 pt-24 pb-8 text-white md:pt-28">
  <h1 class="text-5xl md:text-7xl font-extrabold leading-tight tracking-tight text-lime-400">
    {title}
  </h1>
  <p class="mt-8 text-sm text-white/70 md:text-base">{subtitle}</p>
</section>
