---
import "../styles/global.css";
import HeroIntro from "../components/HeroIntro.astro"
import StripSlider from '../components/StripSlider'
import { projects } from '../content/projects'

const strips = projects
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio — Jose</title>
  </head>
  <body class="bg-neutral-900 text-white antialiased">
	<HeroIntro />
	<section class="relative">
	<div class="overflow-y-hidden [overflow-x:visible]">
		<StripSlider client:load items={strips} />
	</div>
	<section id="contact" class="py-12 text-center">
	<a
		href="mailto:josecarlosrt7@gmail.com"
		class="inline-block rounded-full border border-lime-400 px-6 py-2 text-lime-400 hover:bg-lime-400 hover:text-black transition"
	>
		Contact Me!
	</a>
	</section>
  </body>
</html>

